*{
	margin:0;
	padding:0;
	box-sizing: border-box;
	font-family: 'Quicksand', sans-serif;
}

body{
	background: #ffffff;
}

header{
	background:linear-gradient(
	rgba(0,0,0,.6),
	rgba(0,0,0,.2),
	rgba(0,0,0,.6)
		),url('../img/header.jpg');
	width: 100%;
	height: 100vh;
	background-size: cover;
	background-position: center;
}

.contenedor{
	width: 80%;
	margin: 0 auto;
}

/* MENU */

nav{

	position: fixed;
	width: 100%;
}

nav ul{
	text-align: center;
	list-style: none;
	margin-top: 25px;
}

nav ul li{
	display: inline-block;
	padding: 20px;
	transition: all .3s ease;
}

nav ul li:hover{
	transform:scale(1.1);
}

nav ul li a:hover{
	border-bottom: 1px solid #fff;
}

nav ul li a{
	text-decoration: none;
	color: white;
	font-size: 24px;
}

/*HEADER*/

.contenedor-titulo{
	height: 100vh;
	display:flex;
	justify-content: center;
	align-items: center;
}

.contenedor-titulo h1{
	font-size: 48px;
	color: white;
	border: 10px double #fff;
	padding: 70px 50px;
	font-family: 'Poppins', sans-serif;
}
/*Principal*/

article{
	padding-top: 50px;
	text-align: center;
	border-bottom: 5px dotted gray;
	margin-bottom: 30px;
}

article h3{
	font-size: 32px;
	padding-bottom: 30px;
}

article p{
	font-size: 18px;
	margin-bottom: 30px;
}

blockquote{
	font-size: 18px;
	
}

div.tabla{
	padding-bottom: 20px;
}

div.cont-tabla{
	width: 50%;
	float: left;
	display: inline-block;
}

div.cont-tabla table{
	width: 100%
	text-align:center;
}

div.cont-tabla table td{
	padding: 10px;

}
div.img-table{
	width: 50%
	float: left;
	display: inline-block;
	height: 200px;
	overflow: hidden;
}

div.img-table img{
	width: 10%;
}

/*Carrousel
div.carousel-item{
	width: 100%
	height: 600px;
}
*/
@media (max-width: 600px){
	.carousel-item{
		height: 280px;
	}
}


/* Seccion llamada*/

.llamada{
	background: url('../img/llamada.jpg');
	width: 100%;
	height: 300px;
	background-position: center;
	background-size: cover;
	background-attachment: fixed;
	padding: 50px 0;

}

div.llamada-texto{
	text-align: center;
}
div.llamada-texto h3{
	font-size: 32px;
	color: #fff;
	padding-top: 50px;
}

div.llamada-texto button {
	padding: 10px 20px;
	margin-top: 20px;
	border: none;
	background: #ffa630;
	color: #fff;
	font-size: 18px;
	border-radius: 2px;
	transition: all .3s ease;
}

button:hover{
	transform: scale(1.1);

}

/*footer*/
footer{
    width: 100%;
    background: #202020;
    color: white;   
    
}

.container-footer-all{
    width: 100%;
    max-width: 1200px;
    margin: auto;
    padding: 40px;
}

div.container-body{
    display: flex;
    justify-content: space-between;
}

div.columna1{
    max-width: 400px;
}

div.columna1 h1{
    font-size: 22px;
}

div.colum1 p{
    font-size: 14px;
    color: #C7C7C7;
    margin-top: 20px;
}

div.columna2{
    max-width: 400px;
    
}

div.columna2 h1{
    font-size: 22px;
}

.row{
    margin-top: 20px;
    display: flex;
}

.row img{
    width: 36px;
    height: 36px;
}

.row label{
    margin-top: 10px;
    margin-left: 20px;
    color: #C7C7C7;
}

div.columna3{
    max-width: 400px;
}

div.columna3 h1{
    font-size: 22px;
}

.row2{
    margin-top: 20px;
    display: flex;
}

.row2 img{
    width: 36px;
    height: 36px;
}

.row2 label{
    margin-top: 10px;
    margin-left: 20px;
    max-width: 140px;
}

.container-footer{
    width: 100%;  
    background: #101010;
}

.footer{
    max-width: 1200px;
    margin: auto;
    display: flex;
    justify-content: space-between;  
    padding: 20px;
}

.copyright{
    color: #C7C7C7;
}

.copyright a{
    text-decoration: none;
    color: white;
    font-weight: bold;
}

.information a{
    text-decoration: none;
    color: #C7C7C7;
}


@media screen and (max-width: 1100px){
    
    .container-body{
        flex-wrap: wrap;
    }
    
    .colum1{
        max-width: 100%;
    }
    
    .colum2,
    .colum3{
        margin-top: 40px;
    }
}

/*Formulario*/
form {
  width: 100%;
  max-width: 600px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.form input {
  width: 90%;
  height: 30px;
  margin: 0.5rem;
}

.form button {
  padding: 0.5em 1em;
  border: none;
  background: rgb(100, 200, 255);
  cursor: pointer;
}


/*Galeria de fotos*/

{
  background-color:#333;
}

.galeria {
  height: calc( 300px + 3em);
  width: 260px;
  margin:1em auto;
  border: 1px solid #555;
  position: relative;  
}

.galeria img {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  transition: opacity 3s;
}

.galeria input[type=radio] {
  position: relative;
  bottom: calc(-300px - 1.5em);
  left: .5em;
}

.galeria input[type=radio]:nth-of-type(1):checked ~ img:nth-of-type(1) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(2):checked ~ img:nth-of-type(2) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(3):checked ~ img:nth-of-type(3) {
  opacity: 1;
}

.galeria input[type=radio]:nth-of-type(4):checked ~ img:nth-of-type(4) {
  opacity: 1;
}


